<app-header></app-header>
<ion-content>
    <div class="p-container">
        <header-title></header-title>
        <div class="ion-padding p-container-view">
          <p class="p-img-top logo-postcash"></p>
          <div *ngIf="!glb.showRecu">
            <cashin-avec-releve [cashindata]="datacashin"></cashin-avec-releve>
          </div>
          <div *ngIf="glb.showRecu">
             <recu-recharge></recu-recharge>
           </div>
        </div>
    
      </div>
      <scroll></scroll>
    
</ion-content>
